extends ../layout

include ../mixins/mixins
block content
	if admin
		+reveal(admin,'ctrlAdmin')
	else
		div(style="text-shadow=1px 4px 3px gray;margin-left:.8em;font-size:1.3em;font-family: Verdana,sans-serif;display:inline-block;position:absolute;left:0;bottom:3em;z-index:1;color:white;text-shadow:0 4px 3px black")
			span|Gustavo Gonzales, <a href="https://twitter.com/gagdgonda"><b style="color:gray;font-style:italic">@gagdgonda</b></a> </br>
			span|Rein Petersen, <a href="https://twitter.com/reinpetersen"><b style="color:gray;font-style:italic">reinpetersen.com</b></a> </br>
			span|Russel Ormes, <a href="https://twitter.com/ormesr"><b style="color:gray;font-style:italic">@ormesr</b></a> </br>
			span|info@nodejslima.org </br>
		+reveal(admin,'ctrlVisitor')

