extends layout

block content
	.reveal
		.slides
			section
				h2|First slide
			section
				h2|Second slide
			section
				h2|Thirty slide
			section
				h2|4 slide
			section
				h2|5 slide
			section
				h2|6 slide
