doctype html
html(ng-app="sliderApp")
	head
		title= title
		link(rel='stylesheet', href='/bower_components/revealjs/css/reveal.css')
		if admin
			link(rel='stylesheet', href='/bower_components/revealjs/css/theme/league.css')
		else
			link(rel='stylesheet', href='/bower_components/revealjs/css/theme/sky.css')
	body
		block content
		script(src="/socket.io/socket.io.js")
		script(src="/bower_components/revealjs/js/reveal.js")
		script(src="/bower_components/angularjs/angular.min.js")
		script(src="/javascripts/sliderApp.js")
		script(src="/javascripts/services/svcSocket.js")
		if admin
			script(src="/javascripts/controllers/ctrlAdmin.js")
		else
			script(src="/javascripts/controllers/ctrlVisitor.js")
		script(src="/javascripts/directives/drvReveal.js")
