doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src="/socket.io/socket.io.js")
    script(src="/bower_components/revealjs/js/reveal.js")
    script(src="/jsvascripts/control.js")